body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
}

h1 {
    margin-bottom: 30px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

#resultDiv {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: left;
    overflow: auto;
    position: relative;
}

.code-container {
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow: auto;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #45a049;
}

#inputPairs{
    display: block;
    height: 200px;
    overflow: auto;
    margin-bottom: inherit;
}

